
@font-face{
    font-family: "Mazzards";
    src: local(Raleway), url(../font/MazzardH-SemiBold.otf);
    font-weight: 600;
  }
  
  @font-face{
    font-family: "Mazzards";
    src: local(Raleway), url(../font/MazzardH-Medium.otf);
    font-weight: normal;
  }
  
  @font-face{
    font-family: "Mazzards";
    src: local(Raleway), url(./font/MazzardL-Regular.otf);
    font-weight: 200;
  }
  
  @font-face{
    font-family: "Mazzards";
    src: local(Raleway), url(../font/MazzardM-Bold.otf);
    font-weight: 800;
  }
  
  @font-face{
    font-family: "Mazzards";
    src: local(Raleway), url(../font/MazzardH-ExtraLight.otf);
    font-weight: 100;
  }
  

body{
    margin: 0;
    background-color: #141414;
    color: white;
    font-family: "Mazzards";
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration:none;
    color: gray;
    line-height: 40px;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

p{
    font-size: 20px;
    font-weight: 300;
    color: gray;
    line-height: 30px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.home{
    position: relative;
    padding-top: 13%;
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url("./alonso.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.title-area{
    margin-left: auto;
    margin-right: auto;

}

.title-area h1{
    display: inline-block;
    font-size: 120px;
}

.alonso{
    height: 100%;
    background-color: red;
}

#title1{
    margin-right: 100px;
}

.emissoras{
    width: 100%;
    height: 130px;
    margin-bottom: 40px;
}

.logo-emissoras{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.logo-emissoras img{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

.logo{
    height: 50px;
    opacity: .3;
    margin: 10px;
}

.landing{
    margin-top: 40px;
    width: 100%;
    margin-bottom: 200px;
}

.app-area{
    display: flex;
    height: 400px;
    margin: 0 auto;
    display: inline-flex;
    align-content: flex-end;
    text-align: left;
}

.app-area *{
    display: inline-block;
}

.screens{
    height: 100%;
    min-width: 500px;
    align-items: center;
    display: inline-flex;
}

.desc{
    height: 100%;
    margin-right: 40px;
}

.desc *{
    display: block;
}

.desc a{
    text-decoration: underline;
}

.topic{
    text-decoration: underline;
    font-size: 20px;
    color: gray;
    line-height: 0px;
    margin-left: 180px;
    margin-top: -5px;
}

#horizontal img{
    height: 50%;
    margin-top: -130px;
}

#horizontal{
    margin-top: 120px;
    display: block;
    padding-left: 100px;
}


#vertical img{
    margin-right: -40px;
}

.screens img{
    height: 85%;
    box-shadow: rgb(14, 14, 14) 20px 20px 0px;
    border-radius: 10px;
}

.palestras{
    width: 80%;
    padding: 100px;
    padding-top: 0px;
    display: inline-flex;
}

#globo{
    height: 60px;
}
#band{
    height: 50px;
}
#canaltech{
    height: 60px;
}
#g1{
    height: 50px;
}

#talks{
    width: 25%;
}
#articles{
    width: 25%;
}
#social{
    width: 10%;
}
#project-1{
    width: 30%;
}
#project-2{
    width: 50%;
}
#project-3{
    width: 30%;
}
#project-4{
    width: 50%;
}

@media screen and (max-width: 950px) {

    .logo{
        height: 10px;
        margin: 5px;
    }
    .logo-emissoras img{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
    }
    #globo{
        height: 40px;
    }
    #band{
        height: 30px;
    }
    #canaltech{
        height: 40px;
    }
    #g1{
        height: 30px;
    }
    .title-area h1{
        display: inline-block;
        font-size: 50px;
        top: 120px;
    }#title1{
        margin-right: 0px;
    }
    .topic{
        text-align: center;
        margin-left: 0px;
    }
    .desc{
        height: 300px;
        margin-right: 40px;
    }

    .app-area{
        display: block;
        text-align: center;
        width: 100%;

    }
    .app-area div{
        margin: 0 auto;
        padding: 0px;
        text-align: center;
    }
    .app-area desc{

    }
    #talks,#articles,#social,#project-1,#project-2,#project-3,#project-4{
        width: 100%;
    }

    .screens{
        height: 65%;
        width: 100%;
        visibility: hidden;
    }

    /*.screens img{
        box-shadow: rgb(14, 14, 14) 5px 5px 0px;
    }*/
    
    #horizontal{
        margin-top: -30px;
        display: block;
        padding-left: 0px;
        text-align: center;
    }


}